
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/myCSS/StyleSheet1.css" />
    <title>Mission Answers</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <a href="@Url.Action("Index", "Missions")" class="w3-bar-item w3-button">Missions</a>
        <a href="@Url.Action("Index", "AboutUs")" class="w3-bar-item w3-button">About Us</a>
        <a href="@Url.Action("Index", "Contact")" class="w3-bar-item w3-button">Contact</a>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1>Mission Site</h1>
            <p>Get all your questions answered!</p>

        </div>

    </div>


</body>
</html>
