
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="~/myCSS/StyleSheet3.css" rel="stylesheet" />
    <title>Mission Answers</title>
</head>

<body background="~/Graphics/WorldMap.jpg" class="main">
    <div class="w3-bar w3-black">
        <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button"><b>Home</b></a>
        <a href="@Url.Action("Mission", "Home")" class="w3-bar-item w3-button">Missions</a>
        <a href="@Url.Action("Index", "AboutUs")" class="w3-bar-item w3-button">About Us</a>
        <a href="@Url.Action("Index", "Contact")" class="w3-bar-item w3-button">Contact</a>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1>Mission Site</h1>
            <a class="btn btn-primary btn-lg" href="#" role="button">Get all your questions answered!</a>
        </div>
    </div>

    <br />
    <br />

    <div class="container text-center w3-text-white">
        
        <div class="row">
            <div class="col-sm-3">
                <img src="~/Graphics/trent.jpg" class="img-circle" alt="Random Name" height="200" width="200">
                <p id="white" ><strong>Trent</strong></p>
                <p id="white">"Forget yourself and go to work!"</p>
            </div>
            <div class="col-sm-3">
                <img src="~/Graphics/sam.jpg" class="img-circle" alt="Random Name" height="200" width="200">
                <p id="white"><strong>Sam</strong></p>
                <p id="white">"The Lord wants all of<br /> you in the mission field!"</p>
            </div>
            <div class="col-sm-3">
                <img src="~/Graphics/sperry.jpg" class="img-circle" alt="Random Name" height="200" width="200">
                <p id="white"><strong>Sperry</strong></p>
                <p id="white">"After all that has been said, the greatest and most important duty is to preach the gospel!"</p>
            </div>
            <div class="col-sm-3">
                <img src="~/Graphics/ian.jpg" class="img-circle" alt="Random Name" height="200" width="200">
                <p id="white"><strong>Ian</strong></p>
                <p id="white">"The most effective missionaries always act out of love!"</p>
            </div>
        </div>
    </div>
</body>
</html>
