body {
}

.main {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

    div.transbox p {
        font-weight: bold;
        color: #000000;
        opacity: 5;
    }

.jumbotron {
    background: rgba(198, 200, 200, 0.74)
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.textcolor{
    color: white;
}