
.business-header {
    height: 150px;
    /*min-height: 300px;*/
    background-color:lightgray;
    /*background: url(#) center center no-repeat scroll;*/
    /*background-size: cover;*/
}

.card {
    height: 100%;
}

#center 
{
    text-align:center;
}

.imgcenter{
    background-position:center;
    background-size: contain;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}